
#temp
/home/local/IMMOWELTAG/vnguyen/PycharmProjects/DemoForCrawler/temp

#virtual environemt
/home/local/IMMOWELTAG/vnguyen/PycharmProjects/DemoForCrawler/venv

# Config
/home/local/IMMOWELTAG/vnguyen/PycharmProjects/DemoForCrawler/config.py

.idea
